header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    justify-content: center;
    padding: 161px 49px 96px 51px;
}
/* Меню главной страницы */
.header_menu-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 18px;
}

.header_link-list a {
    text-decoration: none;
    border-bottom: 2px solid #000;
}

.header_link-list {
    display: flex;
    justify-items: center;
    gap: 16px;
    list-style: circle;
}

.header_link_active {
    text-decoration: none;
}

.header__links-list-item_no-bullit {
    list-style:none
}

/* Логотип */
.header_logo {
    width: 140px;
    height: 105px;
}

/* Номер телефона и адресс */
.header_adress {
    max-width: 240px;
    justify-self: end;
    justify-content: center;
    font-style: normal;
    font-size: 18px;
}

.header_adress {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header_adress a {
    text-decoration: none;
    border-bottom: 2px solid #000;
    justify-content: center;
}

/* Обложка страницы (входная секция) */
.cover {
    position: relative;
    min-height: min-content;
    background-image: url(/images/cover.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 1;
}

.cover__title {
    display: flex;
    flex-direction: column;
    z-index: 2;
    justify-content: space-between;
    min-height: 757px;
    padding: 50px;
}

.aligned-text {
    text-transform:uppercase;
    font-weight: bold;
    line-height: 1;
    font-size: 100px;
    letter-spacing: 0.3em;
    margin-top: 122px;
    z-index: 3;
}

.aligned-text span {
    display: block;
}

.aligned_text-left {
    text-align: left;
}

.aligned_text-center {
    text-align: center;
    margin-top: 36px;
    margin-left: 26px;
}

.aligned_text-right {
    text-align: right;
    margin-top: 34px;
    margin-right: -29px;
}

/* Нижняя часть описание + кнопка */
.cover_description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    text-transform: uppercase;
    z-index: 1;
}
.cover__description-text {
    display: flex;
    flex-direction: row;
    word-spacing: 23px;
    font-size: 21px;
    color: #fff;
}

.bet_button {
    color: transparent;
    color: #fff;
    border: 2px solid #fff;
    padding: 13px 32px;
    font-size: 22px;
}
