header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    justify-content: center;
    padding: 161px 49px 96px 51px;
    margin-top: -2px;
}
/* Меню главной страницы */
.header_menu-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 18px;
}

.header_link-list a {
    text-decoration: none;
    border-bottom: 2px solid #000;
}

.header_link-list {
    display: flex;
    justify-items: center;
    gap: 32px;
    list-style: circle;
}

.header_link_active {
    text-decoration: none;
}

.header__links-list-item_no-bullit {
    list-style:none
}

/* Логотип */
.header_logo {
    width: 140px;
    height: 105px;
}

/* Номер телефона и адресс */
.header_adress {
    max-width: 240px;
    justify-self: end;
    justify-content: center;
    font-style: normal;
    font-size: 18px;
}

.header_adress {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header_adress a {
    text-decoration: none;
    border-bottom: 2px solid #000;
    justify-content: center;
}

/* Обложка страницы (входная секция) */
.cover {
    position: relative;
    min-height: min-content;
    background-image: url(/images/cover.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 1;
}

.cover__title {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 2;
    justify-content: space-between;
    min-height: 757px;
    padding: 50px;
}

.aligned-text {
    text-transform:uppercase;
    font-weight: bold;
    line-height: 1;
    font-size: 100px;
    letter-spacing: 0.3em;
    margin-top: 122px;
    z-index: 3;
}

.aligned-text span {
    display: block;
}

.aligned_text-left {
    text-align: left;
}

.aligned_text-center {
    text-align: center;
    margin-top: 36px;
    margin-left: 26px;
}

.aligned_text-right {
    text-align: right;
    margin-top: 34px;
    margin-right: -29px;
}

/* Нижняя часть описание + кнопка */
.cover_description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    text-transform: uppercase;
    z-index: 1;
}
.cover__description-text {
    display: flex;
    flex-direction: row;
    word-spacing: 23px;
    font-size: 21px;
    color: #fff;
}

.bet_button {
    color: transparent;
    color: #fff;
    border: 2px solid #fff;
    padding: 13px 32px;
    font-size: 22px;
}

/* Заголовок h2*/
.lots__heading {
    font-weight: bold;
    font-size: 49px;
    padding: 169px 0 26px 64px;
}

/* Лоты с карточками */
.lots {
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin: 0 24px 0 24px;
}


.lots__card-list {
    position: relative;
    z-index: 2;
}


article a {
    height: 100%;
    list-style: none;
}

.card-link {
    color: #fff;
    width: 334px;
    min-height: 596px;
    padding: 48px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card_title-link {
    height: 100%;
}

.card_type_film {
    background-image: url(/images/card-lot-01.jpg);
}


.card_type_book {
    background-image: url(/images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(/images/card-lot-03.jpg);
}

.card_type_film,
.card_type_book,
.card_type_picture {
    position: relative;
    width: 334px;
    min-height: 596px;
    background-size: cover;
    background-position: center;
}

h3 {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}

p {
    font-size: 20px;
    line-height: 1.2;
}

.lots__look-more-link {
    font-size: 20px;
    padding-left: 62px;
    padding-top: 33px;
}
